<h2>My Heroes</h2>
<div>
  <label
    >Hero name:
    <input #heroName />
  </label>
  <button (click)="add(heroName.value); heroName.value = ''">
    add
  </button>
</div>
<ul class="heroes">
  <li
    class="heroes__hero"
    [class.heroes__hero--selected]="hero === selectedHero"
    *ngFor="let hero of heroes"
  >
    <a class="heroes__link" routerLink="/detail/{{ hero.id }}">
      <span class="heroes__badge">{{ hero.id }}</span> {{ hero.name }}
    </a>
    <button class="heroes__delete" title="delete hero" (click)="delete(hero)">x</button>
  </li>
</ul>
